.metadata/
.settings/
cobertura/*
dynamicrefactoring.plugin/log/dynamicrefactoring.plugin.properties
dynamicrefactoring.plugin/target/*
dynamicrefactoring.plugin/bin/*
dynamicrefactoring.tests/screenshots/*
dynamicrefactoring.tests/target/*
dynamicrefactoring.tests/screenshots/*
dynamicrefactoring.tests/bin/*
dynamicrefactoring.feature/target/*
dynamicrefactoring.feature/target/**/*
dynamicrefactoring.p2repository/target/*
dynamicrefactoring.p2repository/target/**/*
borrar-ficheros.sh
large-files.perl
target/*
External Plug-in Libraries/.searchable
