.metadata/
.settings/
cobertura/*
dynamicrefactoring.plugin/log/dynamicrefactoring.plugin.properties
dynamicrefactoring.plugin/target/*
dynamicrefactoring.plugin/bin/*
dynamicrefactoring.tests/screenshots/*
dynamicrefactoring.tests/target/*
dynamicrefactoring.tests/bin/*
borrar-ficheros.sh
large-files.perl
target/*
External Plug-in Libraries/.searchable
