<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="org.eclipse.ui.intro.configExtension">
	 	<configExtension
			configId="org.eclipse.ui.intro.universalConfig"
			content="intro/welcome.xml" />
	</extension>


   <extension point = "org.eclipse.ui.actionSets">
		<actionSet id="dynamicrefactoring.actionSets.refactoringActionSet"
			label="%dynamicrefactoring.actionSet"
			visible="true">
			<menu id="dynamicrefactoring.menus.dynamicRefactoringMenu"
				label="%dynamicrefactoring.menu.main">
				<separator name="management"/>
				<separator name="exporting"/>
				<separator name="execution"/>
			</menu>				
			<menu id="dynamicrefactoring.menus.refactoringOptions"
				label="%dynamicrefactoring.menu.run"
				path="dynamicrefactoring.menus.dynamicRefactoringMenu/execution">
				<separator name="additions"/>
			</menu>
			<action
         		class="dynamicrefactoring.action.OpenExportPlanDialogAction"
         		icon="icons/export_plan.ico"
         		id="dynamicrefactoring.actions.openExportPlanDialogAction"
         		label="%dynamicrefactoring.action.exportPlan"
         		menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/exporting">
         	</action>
         	<action
         		class="dynamicrefactoring.action.OpenImportPlanDialogAction"
         		icon="icons/import_plan.ico"
         		id="dynamicrefactoring.actions.openImportPlanDialogAction"
         		label="%dynamicrefactoring.action.importPlan"
         		menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/exporting">
         	</action>
         	<action
         		class="dynamicrefactoring.action.OpenExportDialogAction"
         		icon="icons/export.ico"
         		id="dynamicrefactoring.actions.openExportDialogAction"
         		label="%dynamicrefactoring.action.export"
         		menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/exporting">
         	</action>
         	<action
         		class="dynamicrefactoring.action.OpenImportDialogAction"
         		icon="icons/import.ico"
         		id="dynamicrefactoring.actions.openImportDialogAction"
         		label="%dynamicrefactoring.action.import"
         		menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/exporting">
         	</action>
         	<action
         		class="dynamicrefactoring.action.SelectionAction"
         		id="dynamicrefactoring.actions.selectionAction"
         		label="selection action">
         	</action>
         	<action
                class="dynamicrefactoring.action.OpenDeletionDialogAction"
                icon="icons/ref_delete.png"
                id="dynamicrefactoring.actions.openDeletionDialogAction"
                label="%dynamicrefactoring.action.delete"
                menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/management">
         	</action>
         	<action
                class="dynamicrefactoring.action.OpenEditionWizardAction"
                icon="icons/ref_edit.png"
                id="dynamicrefactoring.actions.openEditRefactoringWizardAction"
                label="%dynamicrefactoring.action.edit"
                menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/management">
         	</action>
			<action
         		class="dynamicrefactoring.action.OpenCreationWizardAction"
         		icon="icons/ref_new.png"
         		id="dynamicrefactoring.actions.openNewRefactoringWizardAction"
         		label="%dynamicrefactoring.action.create"
         		menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/management">
         	</action>
			<action
				class="dynamicrefactoring.action.OpenRefactoringAction"
        		icon="icons/ref_available.png"
         		id="dynamicrefactoring.actions.openCustomRefactoringAction"
         		label="%dynamicrefactornig.action.available"
         		menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/dynamicrefactoring.menus.refactoringOptions/additions">
				<selection class="org.eclipse.jface.text.TextSelection"/>
			</action>
			<action
         		class="dynamicrefactoring.action.OpenRefactoringAction"
         		enablesFor="1"
         		icon="icons/ref_class.ico"
         		id="dynamicrefactoring.actions.openTypeRefactoringAction"
         		label="%dynamicrefactoring.action.level.class"
         		menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/dynamicrefactoring.menus.refactoringOptions/additions">
				<selection class="org.eclipse.jdt.internal.core.SourceType"/>
			</action>
			<action
		        class="dynamicrefactoring.action.OpenRefactoringAction"
        		enablesFor="1"
         		icon="icons/ref_method.ico"
         		id="dynamicrefactoring.actions.openMethodRefactoringAction"
         		label="%dynamicrefactoring.action.level.method"
         		menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/dynamicrefactoring.menus.refactoringOptions/additions">
				<selection class="org.eclipse.jdt.internal.core.SourceMethod"/>
			</action>
			<action
         		class="dynamicrefactoring.action.OpenRefactoringAction"
         		enablesFor="1"
         		icon="icons/ref_field.ico"
         		id="dynamicrefactoring.actions.openFieldRefactoringAction"
         		label="%dynamicrefactoring.action.level.field"
         		menubarPath="dynamicrefactoring.menus.dynamicRefactoringMenu/dynamicrefactoring.menus.refactoringOptions/additions">
				<selection class="org.eclipse.jdt.internal.core.SourceField"/>
			</action>
		</actionSet>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category
        	name="%dynamicrefactoring.category"
			id="dynamicrefactoring.wizards.refactoringWizards">
		</category>
		<wizard
	        category="dynamicrefactoring.wizards.refactoringWizards"
    	    class="dynamicrefactoring.interfaz.wizard.RefactoringWizard"
        	icon="icons/ref_new.png"
        	id="dynamicrefactoring.wizards.RefactoringWizard"
        	name="%dynamicrefactoring.wizard.name">
		</wizard>
	</extension>
	
 	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
            objectClass="org.eclipse.jdt.internal.core.SourceType"
            id="dynamicrefactoring.popups.typeRefactoringContribution">
         	<menu
               label="%dynamicrefactoring.menu.popup"
               path="additions"
               id="dynamicrefactoring.popups.dynamicRefactoringOptions">
               <separator name="RefactoringOptionsGroup"/>               	
         	</menu>
         	<action
                class="dynamicrefactoring.action.OpenRefactoringAction"
                enablesFor="1"
                icon="icons/ref_class.ico"
                id="dynamicrefactoring.actions.popupOpenCustomTypeRefactoringAction"
                label="%dynamicrefactoring.action.level.class"
                menubarPath="dynamicrefactoring.popups.dynamicRefactoringOptions/additions">
         	</action>
		</objectContribution>
		<objectContribution
            objectClass="org.eclipse.jdt.internal.core.SourceMethod"
            id="dynamicrefactoring.popups.methodRefactoringContribution">
         	<menu
               label="%dynamicrefactoring.menu.popup"
               path="additions"
               id="dynamicrefactoring.popups.dynamicRefactoringOptions">
               <separator name="RefactoringOptionsGroup"/>               	
         	</menu>
         	<action
                class="dynamicrefactoring.action.OpenRefactoringAction"
                enablesFor="1"
                icon="icons/ref_method.ico"
                id="dynamicrefactoring.actions.popupOpenCustomMethodRefactoringAction"
                label="%dynamicrefactoring.action.level.method"
                menubarPath="dynamicrefactoring.popups.dynamicRefactoringOptions/additions">
         	</action>
		</objectContribution>
		<objectContribution
            objectClass="org.eclipse.jdt.internal.core.SourceField"
            id="dynamicrefactoring.popups.fieldRefactoringContribution">
         	<menu
               label="%dynamicrefactoring.menu.popup"
               path="additions"
               id="dynamicrefactoring.popups.dynamicRefactoringOptions">
               <separator name="RefactoringOptionsGroup"/>               	
         	</menu>
         	<action
                class="dynamicrefactoring.action.OpenRefactoringAction"
                enablesFor="1"
                icon="icons/ref_field.ico"
                id="dynamicrefactoring.actions.popupOpenCustomFieldRefactoringAction"
                label="%dynamicrefactoring.action.level.field"
                menubarPath="dynamicrefactoring.popups.dynamicRefactoringOptions/additions">
         	</action>
		</objectContribution>
		<viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="dynamicrefactoring.popups.javaEditorContribution">
         	<visibility>
            	<objectClass
					name="org.eclipse.jface.text.ITextSelection">
            	</objectClass>
         	</visibility>
         	<menu
               label="%dynamicrefactoring.menu.popup"
               path="additions"
               id="dynamicrefactoring.popups.dynamicRefactoringOptions">
               <separator name="RefactoringOptionsGroup"/>               	
         	</menu>
         	<action
                class="dynamicrefactoring.action.OpenRefactoringAction"
                icon="icons/ref_available.png"
                id="dynamicrefactoring.actions.textSelectionPopUpAction"
                label="%dynamicrefactornig.action.available"
                menubarPath="dynamicrefactoring.popups.dynamicRefactoringOptions/additions">
         	</action>
         </viewerContribution>	
   	</extension>

	<extension point="org.eclipse.ui.preferencePages">
      <page
            name="DynamicRefactoring"
            class="dynamicrefactoring.preferences.DirectoriesPreferencePage"
            id="dynamicrefactoring.preferences.DirectoriesPreferencePage">
      </page>
    </extension>

	<extension point="org.eclipse.ui.views">
		<category
			name="%dynamicrefactoring.category"
			id="dynamicrefactoring.views.refactoringViewsCategory">
		</category>
		<view
        	category="dynamicrefactoring.views.refactoringViewsCategory"
        	class="dynamicrefactoring.interfaz.view.HistoryView"
        	fastViewWidthRatio="0.05"
        	icon="icons/date.png"
        	id="dynamicrefactoring.views.historyView"
        	name="%dynamicrefactoring.view.history">
		</view>		
		<stickyView
			id="dynamicrefactoring.views.historyView"
			location="RIGHT"
			closeable="true"
			moveable="false">
		</stickyView>
		<view
        	category="dynamicrefactoring.views.refactoringViewsCategory"
        	class="dynamicrefactoring.interfaz.view.AvailableRefactoringView"
        	fastViewWidthRatio="0.05"
        	icon="icons/run.gif"
        	id="dynamicrefactoring.views.availableRefactoringView"
        	name="%dynamicrefactoring.view.availableRefactoring">
		</view>		
		<stickyView
			id="dynamicrefactoring.views.availableRefactoringView"
			location="RIGHT"
			closeable="true"
			moveable="false">
		</stickyView>
		<view
       		category="dynamicrefactoring.views.refactoringViewsCategory"
        	class="dynamicrefactoring.interfaz.view.ProgressView"
        	icon="icons/process.gif"
        	id="dynamicrefactoring.views.progressView"
        	name="%dynamicrefactoring.view.progress">
		</view>		
		<stickyView
			id="dynamicrefactoring.views.progressView"
			location="BOTTOM"
			closeable="true"
			moveable="false">
		</stickyView>
  		<view
        	category="dynamicrefactoring.views.refactoringViewsCategory"
        	class="dynamicrefactoring.interfaz.view.RefactoringCatalogBrowserView"
        	fastViewWidthRatio="0.05"
        	icon="icons/ref_view.png"
        	id="dynamicrefactoring.views.refactoringCatalogBrowserView"
        	name="%dynamicrefactoring.view.refactoringCatalogBrowserView">
  		</view>
  		<stickyView
        	id="dynamicrefactoring.views.refactoringCatalogBrowserView"
        	location="BOTTOM"
        	closeable="true"
        	moveable="true">
  		</stickyView>
	</extension>

	<extension point="org.eclipse.ui.viewActions">
		<viewContribution id="dynamicrefactoring.viewmenus.cleanProgress"
			targetID="dynamicrefactoring.views.progressView">
			<action id="dynamicrefactoring.viewmenus.cleanProgressAction"
				label="%dynamicrefactoring.view.action.clean"
				toolbarPath="Normal/additions"
				style="push"
				icon="icons/clean.gif"
				tooltip="%dynamicrefactoring.view.tooltip.clean"
				class="dynamicrefactoring.action.CleanViewAction">
			</action>
		</viewContribution>
  <viewContribution
        id="dynamicrefactoring.viewmenus.refactoringCatalogBrowser"
        targetID="dynamicrefactoring.views.refactoringCatalogBrowserView">
     <action
           class="dynamicrefactoring.action.ClassificationEditorViewAction"
           icon="icons/class_edit.png"
           id="dynamicrefactoring.viewmenus.classEditorRefactoringCatalogBrowserAction"
           label="%dynamicrefactoring.view.action.classEditor"
           style="push"
           toolbarPath="Normal/additions"
           tooltip="%dynamicrefactoring.view.tooltip.classEditor">
     </action>
     <action
           class="dynamicrefactoring.action.RefreshViewAction"
           icon="icons/refresh.png"
           id="dynamicrefactoring.viewmenus.refreshRefactoringCatalogBrowserAction"
           label="%dynamicrefactoring.view.action.refresh"
           style="push"
           toolbarPath="Normal/additions"
           tooltip="%dynamicrefactoring.view.tooltip.refresh">
     </action>
     <action
           class="dynamicrefactoring.action.ShowLeftAndRightPaneViewAction"
           enablesFor="0"
           icon="icons/split.png"
           id="dynamicrefactoring.viewmenus.showLeftAndRightPaneRefactoringCatalogBrowserAction"
           label="%dynamicrefactoring.view.action.showLeftAndRightPane"
           style="push"
           toolbarPath="Normal/panes"
           tooltip="%dynamicrefactoring.view.tooltip.showLeftAndRightPane">
     </action>
     <action
           class="dynamicrefactoring.action.ShowRightPaneViewAction"
           icon="icons/split_right.png"
           id="dynamicrefactoring.viewmenus.showRightPaneRefactoringCatalogBrowserAction"
           label="%dynamicrefactoring.view.action.showRightPane"
           style="push"
           toolbarPath="Normal/panes"
           tooltip="%dynamicrefactoring.view.tooltip.showRightPane">
     </action>
     <action
           class="dynamicrefactoring.action.ShowLeftPaneViewAction"
           icon="icons/split_left.png"
           id="dynamicrefactoring.viewmenus.showLeftPaneRefactoringCatalogBrowserAction"
           label="%dynamicrefactoring.view.action.showLeftPane"
           style="push"
           toolbarPath="Normal/panes"
           tooltip="%dynamicrefactoring.view.tooltip.showLeftPane">
     </action>
  </viewContribution>
  <viewContribution
        id="dynamicrefactoring.viewmenus.availableRefactoring"
        targetID="dynamicrefactoring.views.availableRefactoringView">
     <action
           class="dynamicrefactoring.action.ShowEditableRefactoringsViewAction"
           icon="icons/ref.png"
           id="dynamicrefactoring.viewmenus.showEditableRefactoringsAvailableRefactoringAction"
           label="%dynamicrefactoring.view.action.showEditableRefactorings"
           state="true"
           style="toggle"
           toolbarPath="Normal/additions"
           tooltip="%dynamicrefactoring.view.tooltip.showEditableRefactorings">
     </action>
     <action
           class="dynamicrefactoring.action.ShowNonEditableRefactoringsViewAction"
           icon="icons/plugin_ref.png"
           id="dynamicrefactoring.viewmenus.showNonEditableRefactoringsAvailableRefactoringAction"
           label="%dynamicrefactoring.view.action.showNonEditableRefactorings"
           state="true"
           style="toggle"
           toolbarPath="Normal/additions"
           tooltip="%dynamicrefactoring.view.tooltip.showNonEditableRefactorings">
     </action>
  </viewContribution>
	</extension>

	<extension-point id="listeners" name="Refactoring listeners"/>
 
 	<extension point="org.eclipse.ui.perspectiveExtensions">
    	<perspectiveExtension
    		targetID="org.eclipse.jdt.ui.JavaPerspective">
    	<actionSet id="dynamicrefactoring.actionSets.refactoringActionSet"/>
        <newWizardShortcut id="dynamicrefactoring.wizards.RefactoringWizard"/>    		
   		<view
           id="dynamicrefactoring.views.progressView"
           relationship="stack"
           relative="org.eclipse.ui.views.ProblemView"
           showTitle="true"
           visible="true"/>
   		<view
           id="dynamicrefactoring.views.historyView"
           relationship="stack"
           relative="org.eclipse.ui.views.ContentOutline"
           showTitle="true"
           visible="true"/>
        <view
           id="dynamicrefactoring.views.availableRefactoringView"
           relationship="stack"
           relative="org.eclipse.ui.views.ContentOutline"
           showTitle="true"
           visible="true"/>
        <view
              id="dynamicrefactoring.views.refactoringCatalogBrowserView"
              relationship="stack"
              relative="org.eclipse.ui.views.ProblemView"
              showTitle="true"
              visible="true">
        </view>
    	</perspectiveExtension>
    </extension>
    
	<extension point="org.eclipse.help.contexts">
      <contexts file="helpContexts.xml"  />
	</extension>
      	
	<extension point="org.eclipse.help.toc">
		<toc
			file="toc.xml"
			primary="true">
		</toc>
		<toc
			file="tocrefactoring.xml">
		</toc>
	</extension>
 <extension
       point="org.eclipse.jdt.ui.javaElementFilters">
    <filter
          class="dynamicrefactoring.interfaz.wizard.search.javadoc.JavadocReaderViewerFilter"
          description="Hides the project that allows to read the javadoc documentation"
          enabled="true"
          id="dynamicrefactoring.javadocreader.filter"
          name="javadocreader.filter">
    </filter>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
           <editor
          class="dynamicrefactoring.interfaz.editor.classifeditor.ClassificationsEditor"
          default="false"
          icon="icons/class_edit.png"
          id="dynamicrefactoring.editors.refactoringClasificationsEditor"
          name="%dynamicrefactoring.views.refactoringClasificationsEditorView">
    		</editor>
       
   </extension>

</plugin>
